@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte Diario";
}

<h1>Transacciones</h1>

<partial name="Submenu" Model="SubMenuTransacciones.Diario" />

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Crear">Crear una nueva transaccion.</a>
</div>

<partial name="_ReporteTransaccionesDetalladas" model="Model"/>